{% extends "_base.html" %}

{% block content %}
    <div class="profile-container">
        <h2>Welcome, {{ user.username }} </h2>

        <div class="profile-image">
            {% if user.profile_img %}
                <img src="{{ user.profile_img.url }}" alt="Profile Image" class="rounded-full h-24 w-24 object-cover">
            {% endif %}
        </div>
        <p>img: {{user.profile_img.url}}</p>
        <p>Email: {{ user.email }}</p>
        <p>Role: {{ user.get_role_display }}</p>
        <p>Joined on: {{ user.date_joined }}</p>
    </div>
{% endblock %}
