{% extends 'userpanel/base.html' %}
{% load static %}
{% block title %}
Settings
{% endblock title %}

{% block main %}
<main class="relative px-8 py-8 flex flex-col gap">

    <!-- Nav Section -->
    <section class="border-b-[1px] border-gray-300 flex gap-x-8">
        <h3 id="btn-my-profile" class="text-base font-bold pb-2 cursor-pointer border-b-[4px] border-white
        text-gray-500 hover:text-darkgreen hover:border-darkgreen
        active:text-darkgreen active:border-darkgreen active">
            My Profile
        </h3>

        <h3 id="btn-login-details" class="text-base font-bold pb-2 cursor-pointer border-b-[4px] border-white
        text-gray-500 hover:text-darkgreen hover:border-darkgreen
        active:text-darkgreen active:border-darkgreen">
            Login Details
        </h3>

        <h3 id="btn-notifications" class="text-base font-bold pb-2 cursor-pointer border-b-[4px] border-white
        text-gray-500 hover:text-darkgreen hover:border-darkgreen
        active:text-darkgreen active:border-darkgreen">
            Notifications
        </h3>
    </section>



    <!-- My profile Settings Section -->
    {% include 'userpanel/reuseable-components/my-profile-settings.html' %}

    <!-- Login Details Settings Section -->
    {% include 'userpanel/reuseable-components/login-details-settings.html' %}

    <!-- Notifictions Settings Section -->
    {% include 'userpanel/reuseable-components/notifications-settings.html' %}
</main>
{% endblock main %}