/* Importing Google Fonts */
@import url("https://fonts.googleapis.com/css2?family=Maven+Pro:wght@400..900&display=swap");

/* Global Reset */
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

/* Base Styles */
body {
  font-family: "Maven Pro", sans-serif;
  font-size: 1.125rem; /* 18px for base readability */
  font-weight: 300; /* Light weight for better visual hierarchy */
  line-height: 1.6; /* Added for improved readability */
  color: #333; /* Base text color for consistent contrast */
  background-color: #f9f9f9; /* Soft background for a modern look */
}

select:hover option:hover {
  background-color: #10b981; /* Tailwind's bg-green-500 */
  color: white; /* Optional for better contrast */
}
