{% extends "_base.html" %}
{% block title %}
Forget Password
{% endblock title %}
{% block header %}

{% endblock header %}
{% block content %}
<div class="flex justify-center items-center min-w-full h-[100vh] bg-gray-900">
    <div class="flex flex-col w-[90%] lg:w-[50%] p-6 shadow-xl rounded-md bg-white">
        <div class="text-center">
            <h1 class="block text-2xl font-bold text-gray-800 dark:text-white">Reset Password?</h1>
            <p class="mt-2 text-sm text-gray-600 dark:text-gray-400">
                Remember your password?
                <a class="text-green hover:text-darkgreen decoration-2 hover:underline font-medium"
                    href="{% url 'login' %}">

                    Login here
                </a>
            </p>
            {% if messages %}
            <ul>
                {% for message in messages %}
                <li class="{{ message.tags }}">{{ message }}</li>
                {% endfor %}
            </ul>
            {% endif %}
        </div>

        <form method="POST">
            {% csrf_token %}
            <div class="flex flex-col gap-y-5">
                <div class="flex flex-col relative">
                    <label for="password" class="form-label">Password:</label>
                    <input type="password" id="password" name="password" class="txt-password" placeholder="New password"
                        required />
                    <p class="toggle-password">Show</p>
                </div>

                <!-- Confirm Password -->
                <div class="flex flex-col relative">
                    <label for="confirm_password" class="form-label">Confirm Password:</label>
                    <input type="password" id="confirmPassword" name="confirm_password" class="txt-password"
                        placeholder="Confirm password" required />
                    <button type="button" class="toggle-password" aria-label="Toggle Password Visibility">
                        Show
                    </button>
                </div>
                <div class="flex justify-center">
                    <input type="submit" value="Reset Password" class="btn-green mt-2">
                </div>
            </div>
        </form>
    </div>
</div>
{% endblock content %}

{% block footer %}
{% endblock footer %}