<section id="my-profile-settings">
    <!-- Section Component -->
    <div class="section border-gray-300 flex-col">
        <h2 class="section-title">Basic Information</h2>
        <p class="section-description">This is your personal information that you can update anytime.</p>
    </div>

    <!-- Profile Photo -->
    <div class="section border-gray-300 flex-col lg:flex-row gap-x-24">
        <div class="w-72">
            <h2 class="section-title">Profile Photo</h2>
            <p class="section-description">This image will be shown publicly as your profile picture, it will help
                recruiters recognize you!</p>
        </div>
        <div class="profile-photo flex gap-4 justify-center items-center">
            <div class="photo-preview w-24 h-24 rounded-full overflow-hidden object-cover">
                <img src="{{ user.profile_img.url }}" alt="{{ user.username }}" class="h-24 w-24 object-cover">
            </div>
            <div class="upload-area">
                <label for="dropzone-file"
                    class="dropzone flex flex-col items-center justify-center w-96 cursor-pointer bg-green bg-opacity-10 border-2 border-green border-dashed rounded-lg hover:bg-gray-100">
                    <div class="upload-icon flex flex-col items-center justify-center pt-5 pb-6">
                        <i class="ri-image-line text-4xl mb-4 text-gray-500"></i>
                        <p class="text-sm text-gray-500"><span class="font-semibold">Click to upload</span> or drag and
                            drop</p>
                        <p class="text-xs text-gray-500">SVG, PNG, JPG or GIF (MAX. 800x400px)</p>
                    </div>
                    <input id="dropzone-file" type="file" class="hidden" />
                </label>
            </div>
        </div>
    </div>

    <!-- Personal Details Form -->
    <div class="section border-gray-300 flex-col lg:flex-row gap-x-56">
        <h2 class="section-title">Personal Details</h2>
        <form method="POST" class="form mx-8 space-y-4">
            {% csrf_token %}
            <div class="form-group">
                <label for="full_name" class="form-label">Full Name</label>
                <input type="text" name="full_name" id="full_name" placeholder="Amir Abbas" class="form-input" required>
            </div>
            <div class="form-row flex gap-4">
                <div class="form-group w-1/2">
                    <label for="phone_number" class="form-label">Phone Number</label>
                    <input type="tel" name="phone_number" id="phone_number" placeholder="+92 000 000 0000"
                        class="form-input" pattern="^\+?[0-9\s-]{7,15}$" required>
                </div>
                <div class="form-group w-1/2">
                    <label for="email" class="form-label">Email</label>
                    <input type="email" name="email" id="email" placeholder="amir@gmail.com" class="form-input"
                        required>
                </div>
            </div>
            <div class="form-row flex gap-4">
                <div class="form-group w-1/2">
                    <label for="date_of_birth" class="form-label">Date of Birth</label>
                    <input type="date" name="date_of_birth" id="date_of_birth" class="form-input" required>
                </div>
                <div class="form-group w-1/2">
                    <label for="gender" class="form-label">Gender</label>
                    <select name="gender" id="gender" class="form-input" required>
                        <option value="" disabled selected>Select Gender</option>
                        <option value="male">Male</option>
                        <option value="female">Female</option>
                        <option value="other">Other</option>
                    </select>
                </div>
            </div>
            <button type="submit" class="submit-button">Update Profile</button>
        </form>
    </div>

    <!-- Account Type -->
    <div class="section border-gray-300 flex-col lg:flex-row gap-x-56">
        <div class="w-72">
            <h2 class="section-title">Account Type</h2>
            <p class="section-description">You can update your account type.</p>
        </div>
        <div class="account-type flex flex-col gap-4">
            <label class="account-option" for="job-seeker">
                <input id="job-seeker" type="radio" name="user-type" class="hidden peer">
                <span class="radio-circle"></span>
                <div>
                    <h5 class="text-sm font-medium">Job Seeker</h5>
                    <p class="text-sm text-gray-400 mt-1">Looking for a job</p>
                </div>
            </label>
            <label class="account-option" for="employer">
                <input id="employer" type="radio" name="user-type" class="hidden peer" checked>
                <span class="radio-circle"></span>
                <div>
                    <h5 class="text-sm font-medium">Employer</h5>
                    <p class="text-sm text-gray-400 mt-1">Hiring, sourcing candidates, or posting jobs</p>
                </div>
            </label>
        </div>
    </div>
</section>