{% extends '_base.html' %} {% load static %} {% block content %}
<!-- header -->
<section id="header" class="min-w-full flex flex-col bg-gray-100 px-4 md:px-16 lg:px-32 py-14">
    <h1 class="text-5xl sm:text-7xl font-semibold text-gray-700 tracking-wide max-w-4xl mx-auto">
        Find Your
        <span class="relative text-blue-600">
            <span>Dream Job</span>
            <svg class="absolute inset-0 top-10 w-full h-1/2 fill-blue-600/50" viewBox="0 0 418 42" aria-hidden="true">
                <path
                    d="M203.371.916c-26.013-2.078-76.686 1.963-124.73 9.946L67.3 12.749C35.421 18.062 18.2 21.766 6.004 25.934C1.244 27.561.828 27.778.874 28.61c.07 1.214.828 1.121 9.595-1.176 9.072-2.377 17.15-3.92 39.246-7.496C123.565 7.986 157.869 4.492 195.942 5.046c7.461.108 19.25 1.696 19.17 2.582-.107 1.183-7.874 4.31-25.75 10.366-21.992 7.45-35.43 12.534-36.701 13.884-2.173 2.308-.202 4.407 4.442 4.734 2.654.187 3.263.157 15.593-.78 35.401-2.686 57.944-3.488 88.365-3.143 46.327.526 75.721 2.23 130.788 7.584 19.787 1.924 20.814 1.98 24.557 1.332l.066-.011c1.201-.203 1.53-1.825.399-2.335-2.911-1.31-4.893-1.604-22.048-3.261-57.509-5.556-87.871-7.36-132.059-7.842-23.239-.254-33.617-.116-50.627.674-11.629.54-42.371 2.494-46.696 2.967-2.359.259 8.133-3.625 26.504-9.81 23.239-7.825 27.934-10.149 28.304-14.005.417-4.348-3.529-6-16.878-7.066Z">
                </path>
            </svg>
        </span>
    </h1>
    <p class="mt-2 text-lg tracking-tight text-gray-500 max-w-2xl mx-auto">
        Find your next career at companies like HubSpot, Nike, and Dropbox
    </p>
    {% include 'search-bar.html' %}
</section>

<!-- Main -->
<section class="min-w-full bg-white py-10 px-4 lg:px-32">
    <div class="grid grid-cols-1 lg:grid-cols-4 gap-8 lg:gap-10">
        <!-- Filter Sidebar for Desktop -->
        <aside class="p-4 hidden lg:block">
            <div
                class="jobs-filter text-gray-900 text-md font-medium mb-4 min-w-full flex justify-between items-center cursor-pointer">
                <h2>Type of Employment</h2>
                <i class="ri-arrow-down-s-line arrow"></i>
            </div>

            <!-- Dropdown list for job types -->
            <ul class="jobs-filter-dropdown flex flex-col gap-y-3 my-4 text-gray-700">
                <li class="flex items-center">
                    <input type="checkbox" id="full-time" name="employment-type" value="full-time">
                    <label for="full-time" class="ml-4"> Full-time (3)</label>
                </li>
                <li class="flex items-center">
                    <input type="checkbox" id="part-time" name="employment-type" value="part-time">
                    <label for="part-time" class="ml-4"> Part-time (5)</label>
                </li>
                <li class="flex items-center">
                    <input type="checkbox" id="remote" name="employment-type" value="remote">
                    <label for="remote" class="ml-4"> Remote (2)</label>
                </li>
                <li class="flex items-center">
                    <input type="checkbox" id="internship" name="employment-type" value="internship">
                    <label for="internship" class="ml-4"> Internship (24)</label>
                </li>
                <li class="flex items-center">
                    <input type="checkbox" id="contract" name="employment-type" value="contract">
                    <label for="contract" class="ml-4"> Contract (3)</label>
                </li>
            </ul>

            <div
                class="jobs-filter text-gray-900 text-md font-medium mb-4 min-w-full flex justify-between items-center cursor-pointer">
                <h2>Categories</h2>
                <i class="ri-arrow-down-s-line arrow"></i>
            </div>

            <!-- Dropdown list for categories -->
            <ul class="jobs-filter-dropdown flex flex-col gap-y-3 text-gray-700">
                <li class="flex items-center">
                    <input type="checkbox" id="design" name="employment-type" value="design">
                    <label for="design" class="ml-4"> Design (3)</label>
                </li>
                <li class="flex items-center">
                    <input type="checkbox" id="sales" name="employment-type" value="sales">
                    <label for="sales" class="ml-4"> Sales (5)</label>
                </li>
                <li class="flex items-center">
                    <input type="checkbox" id="marketing" name="employment-type" value="marketing">
                    <label for="marketing" class="ml-4"> Marketing (2)</label>
                </li>
                <li class="flex items-center">
                    <input type="checkbox" id="business" name="employment-type" value="business">
                    <label for="business" class="ml-4"> Business (24)</label>
                </li>
                <li class="flex items-center">
                    <input type="checkbox" id="technology" name="employment-type" value="technology">
                    <label for="technology" class="ml-4"> Technology (3)</label>
                </li>
            </ul>
        </aside>

        <!-- Job Listings -->
        <div class="col-span-3">
            <div class="flex justify-between items-center mb-8">
                <div>
                    <h2 class="text-2xl font-bold text-gray-900">All Jobs</h2>
                    <p class="text-sm text-gray-500">Showing 73 results</p>
                </div>
                <div class="flex items-center space-x-2">
                    <label for="sort" class="text-sm text-gray-700">Sort by:</label>
                    <select id="sort" class="text-sm ">
                        <option value="relevance">Relevance</option>
                        <option value="date">Newest</option>
                    </select>
                </div>

            </div>

            <div class="flex flex-col gap-y-4">
                <!-- Job Card -->
                <div class="space-y-4">
                    <a href="#" class="block hover:shadow-lg duration-300 ease-in-out transform">
                        <div
                            class="shadow-sm border-[1px] border-gray-300 bg-white p-6 flex justify-between items-center">
                            <div class="flex gap-x-6">
                                <div class="w-16">
                                    <img src="{% static 'imgs/dropbox-logo.png' %}" alt="company logo" />
                                </div>
                                <div>
                                    <h3 class="text-xl font-medium text-gray-700">Job Title</h3>
                                    <p class="text-gray-500">Company, Location</p>
                                    <div class="flex gap-2 mt-2">
                                        <span
                                            class="px-3 py-1 text-sm text-green-600 bg-green-100 rounded-full">Full-Time</span>
                                        <span
                                            class="px-3 py-1 text-sm text-orange-600 bg-orange-100 rounded-full">Marketing</span>
                                        <span
                                            class="px-3 py-1 text-sm text-indigo-600 bg-indigo-100 rounded-full">Design</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="bg-blue-600 text-white font-bold px-10 py-3  hover:bg-blue-700">
                                    Apply
                                </button>
                                <p class="text-sm text-gray-500 mt-1">Over 23 applicants</p>
                            </div>
                        </div>
                    </a>
                    <!-- Repeat job cards as needed -->
                </div>

                <!-- Job Card -->
                <div class="space-y-4">
                    <a href="#" class="block hover:shadow-lg duration-300 ease-in-out transform">
                        <div
                            class="shadow-sm border-[1px] border-gray-300 bg-white p-6 flex justify-between items-center">
                            <div class="flex gap-x-6">
                                <div class="w-16">
                                    <img src="{% static 'imgs/dropbox-logo.png' %}" alt="company logo" />
                                </div>
                                <div>
                                    <h3 class="text-xl font-medium text-gray-700">Job Title</h3>
                                    <p class="text-gray-500">Company, Location</p>
                                    <div class="flex gap-2 mt-2">
                                        <span
                                            class="px-3 py-1 text-sm text-green-600 bg-green-100 rounded-full">Full-Time</span>
                                        <span
                                            class="px-3 py-1 text-sm text-orange-600 bg-orange-100 rounded-full">Marketing</span>
                                        <span
                                            class="px-3 py-1 text-sm text-indigo-600 bg-indigo-100 rounded-full">Design</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="bg-blue-600 text-white font-bold px-10 py-3  hover:bg-blue-700">
                                    Apply
                                </button>
                                <p class="text-sm text-gray-500 mt-1">Over 23 applicants</p>
                            </div>
                        </div>
                    </a>
                    <!-- Repeat job cards as needed -->
                </div>

                <!-- Job Card -->
                <div class="space-y-4">
                    <a href="#" class="block hover:shadow-lg duration-300 ease-in-out transform">
                        <div
                            class="shadow-sm border-[1px] border-gray-300 bg-white p-6 flex justify-between items-center">
                            <div class="flex gap-x-6">
                                <div class="w-16">
                                    <img src="{% static 'imgs/dropbox-logo.png' %}" alt="company logo" />
                                </div>
                                <div>
                                    <h3 class="text-xl font-medium text-gray-700">Job Title</h3>
                                    <p class="text-gray-500">Company, Location</p>
                                    <div class="flex gap-2 mt-2">
                                        <span
                                            class="px-3 py-1 text-sm text-green-600 bg-green-100 rounded-full">Full-Time</span>
                                        <span
                                            class="px-3 py-1 text-sm text-orange-600 bg-orange-100 rounded-full">Marketing</span>
                                        <span
                                            class="px-3 py-1 text-sm text-indigo-600 bg-indigo-100 rounded-full">Design</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="bg-blue-600 text-white font-bold px-10 py-3  hover:bg-blue-700">
                                    Apply
                                </button>
                                <p class="text-sm text-gray-500 mt-1">Over 23 applicants</p>
                            </div>
                        </div>
                    </a>
                    <!-- Repeat job cards as needed -->
                </div>

                <!-- Job Card -->
                <div class="space-y-4">
                    <a href="#" class="block hover:shadow-lg duration-300 ease-in-out transform">
                        <div
                            class="shadow-sm border-[1px] border-gray-300 bg-white p-6 flex justify-between items-center">
                            <div class="flex gap-x-6">
                                <div class="w-16">
                                    <img src="{% static 'imgs/dropbox-logo.png' %}" alt="company logo" />
                                </div>
                                <div>
                                    <h3 class="text-xl font-medium text-gray-700">Job Title</h3>
                                    <p class="text-gray-500">Company, Location</p>
                                    <div class="flex gap-2 mt-2">
                                        <span
                                            class="px-3 py-1 text-sm text-green-600 bg-green-100 rounded-full">Full-Time</span>
                                        <span
                                            class="px-3 py-1 text-sm text-orange-600 bg-orange-100 rounded-full">Marketing</span>
                                        <span
                                            class="px-3 py-1 text-sm text-indigo-600 bg-indigo-100 rounded-full">Design</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="bg-blue-600 text-white font-bold px-10 py-3  hover:bg-blue-700">
                                    Apply
                                </button>
                                <p class="text-sm text-gray-500 mt-1">Over 23 applicants</p>
                            </div>
                        </div>
                    </a>
                    <!-- Repeat job cards as needed -->
                </div>

                <!-- Job Card -->
                <div class="space-y-4">
                    <a href="#" class="block hover:shadow-lg duration-300 ease-in-out transform">
                        <div
                            class="shadow-sm border-[1px] border-gray-300 bg-white p-6 flex justify-between items-center">
                            <div class="flex gap-x-6">
                                <div class="w-16">
                                    <img src="{% static 'imgs/dropbox-logo.png' %}" alt="company logo" />
                                </div>
                                <div>
                                    <h3 class="text-xl font-medium text-gray-700">Job Title</h3>
                                    <p class="text-gray-500">Company, Location</p>
                                    <div class="flex gap-2 mt-2">
                                        <span
                                            class="px-3 py-1 text-sm text-green-600 bg-green-100 rounded-full">Full-Time</span>
                                        <span
                                            class="px-3 py-1 text-sm text-orange-600 bg-orange-100 rounded-full">Marketing</span>
                                        <span
                                            class="px-3 py-1 text-sm text-indigo-600 bg-indigo-100 rounded-full">Design</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="bg-blue-600 text-white font-bold px-10 py-3  hover:bg-blue-700">
                                    Apply
                                </button>
                                <p class="text-sm text-gray-500 mt-1">Over 23 applicants</p>
                            </div>
                        </div>
                    </a>
                    <!-- Repeat job cards as needed -->
                </div>

                <!-- Job Card -->
                <div class="space-y-4">
                    <a href="#" class="block hover:shadow-lg duration-300 ease-in-out transform">
                        <div
                            class="shadow-sm border-[1px] border-gray-300 bg-white p-6 flex justify-between items-center">
                            <div class="flex gap-x-6">
                                <div class="w-16">
                                    <img src="{% static 'imgs/dropbox-logo.png' %}" alt="company logo" />
                                </div>
                                <div>
                                    <h3 class="text-xl font-medium text-gray-700">Job Title</h3>
                                    <p class="text-gray-500">Company, Location</p>
                                    <div class="flex gap-2 mt-2">
                                        <span
                                            class="px-3 py-1 text-sm text-green-600 bg-green-100 rounded-full">Full-Time</span>
                                        <span
                                            class="px-3 py-1 text-sm text-orange-600 bg-orange-100 rounded-full">Marketing</span>
                                        <span
                                            class="px-3 py-1 text-sm text-indigo-600 bg-indigo-100 rounded-full">Design</span>
                                    </div>
                                </div>
                            </div>
                            <div class="text-center">
                                <button class="bg-blue-600 text-white font-bold px-10 py-3  hover:bg-blue-700">
                                    Apply
                                </button>
                                <p class="text-sm text-gray-500 mt-1">Over 23 applicants</p>
                            </div>
                        </div>
                    </a>
                    <!-- Repeat job cards as needed -->
            </div>
        </div>
    </div>
</section>
{% endblock content %}