<div class="jobs-filter text-gray-900 text-md font-medium mb-4 flex justify-between items-center cursor-pointer">
    <h2>{{ filter_title }}</h2>
    <i class="ri-arrow-down-s-line arrow"></i>
</div>
<ul class="jobs-filter-dropdown flex flex-col gap-y-3 text-gray-700">
    {% for item in filter_options %}
    <li class="flex items-center text-base">
        <input type="checkbox" id="{{ item.id }}" name="{{ filter_name }}" value="{{ item.value }}">
        <label for="{{ item.id }}" class="ml-4"> {{ item.label }}</label>
    </li>
    {% endfor %}
</ul>