<!-- News letter section -->
<section id="newsletter" class="flex flex-wrap justify-between items-center bg-gray-700 flex-col md:flex-row px-4 sm:px-10 lg:px-[128px] py-10">
    <div class="newstext flex flex-col justify-center items-start">
        <h4 class="text-white text-3xl font-bold">Sign Up For Newsletters</h4>
        <p class="text-white text-base font-semibold">
            Get E-mail updates about our latest shop and
            <span class="text-[#ffbd27]">special offers.</span>
        </p>
    </div>
    <div class="flex w-[40%]">
        <input type="text" placeholder="Your email address"
            class="h-14 px-5 text-base w-full border-[1px] border-transparent outline-none" />
        <button class="bg-white w-24">Sign Up</button>
    </div>
</section>