{% load static %}
<div class="flex justify-between items-center mb-8">
    <div class="flex items-center">
        <i id="btn-filter" class="ri-equalizer-line mr-4 block lg:hidden"></i>
        <div>
            <h2 class="text-2xl font-bold text-gray-900">All Jobs</h2>
            <p class="text-sm text-gray-500">Showing 73 results</p>
        </div>
    </div>
    <div class="flex items-center space-x-2">
        <label for="sort" class="text-sm text-gray-700">Sort by:</label>
        <select id="sort" class="text-sm border-none outline-none focus:outline-none active:outline-none">
            <option value="relevance">Relevance</option>
            <option value="date">Newest</option>
        </select>
        <p class="text-3xl text-gray-500">|</p>
        <i class="ri-list-check text-xl"></i>
        <i class="ri-gallery-view-2 text-xl"></i>
    </div>

</div>

<div class="flex flex-col gap-y-4">

    {% for job in jobs %}
    <!-- Job Card -->
    <div class="m-5">
        <div
            class="group mx-2 mt-10 grid max-w-screen-md grid-cols-12 space-x-8 overflow-hidden rounded-lg border py-8 text-gray-700 shadow-lg transition-all hover:shadow-2xl sm:mx-auto">

            <!-- Company Logo Section -->
            <a href="#"
                class="order-2 col-span-1 mt-4 -ml-14 text-left text-gray-600 hover:text-gray-700 sm:-order-1 sm:ml-4">
                <div
                    class="group relative w-16 overflow-hidden rounded-lg border p-1 shadow-md transition-all hover:shadow-xl">
                    <img src="{{ job.company.company_logo.url }}" alt="{{ job.company.company_name }} Logo"
                        class="h-full w-full object-cover" />
                </div>
            </a>

            <!-- Job Details Section -->
            <div class="col-span-11 flex flex-col pr-8 text-left sm:pl-4">
                <!-- Company Name -->
                <h3 class="text-sm text-gray-600 font-medium">{{ job.company.company_name }}</h3>

                <!-- Job Title -->
                <a href="{% url 'job-detail' job.job_id job.job_title|slugify %}"
                    class="mb-3 overflow-hidden pr-7 text-lg font-semibold sm:text-xl text-gray-900 hover:text-gray-800">
                    {{ job.job_title }}
                </a>

                <!-- Job Description -->
                <p class="overflow-hidden pr-7 text-sm text-gray-600 line-clamp-3">
                    {{ job.job_description }}
                </p>

                <!-- Job Meta Information (Experience, Salary) -->
                <div
                    class="mt-5 flex flex-col space-y-3 text-sm font-medium text-gray-500 sm:flex-row sm:items-center sm:space-y-0 sm:space-x-2">
                    <div class="flex items-center">
                        <!-- <span class="font-semibold text-gray-800">Experience:</span> -->
                        <span class="ml-2 mr-3 rounded-full px-2 py-0.5 text-green-600 bg-green-100">
                            {{ job.experience_level }}
                        </span>
                    </div>
                    <div class="flex items-center">
                        <!-- <span class="font-semibold text-gray-800">Job type:</span> -->
                        <span class="ml-2 mr-3 rounded-full px-2 py-0.5 text-orange-600 bg-orange-100">
                            {{ job.job_type }}
                        </span>
                    </div>
                    <div class="flex items-center">
                        <!-- <span class="font-semibold text-gray-800">Salary:</span> -->
                        <span class="ml-2 mr-3 rounded-full px-2 py-0.5 text-indigo-600 bg-indigo-100">
                            {{ job.salary_range }}
                        </span>
                    </div>
                </div>

                <!-- View Details CTA Button -->
                <div class="mt-4">
                    <a href="{% url 'job-detail' job.job_id job.job_title|slugify %}"
                        class="inline-block mt-4 w-full py-2 px-4 text-center bg-darkgreen text-white font-semibold rounded-md shadow-md transition-all hover:bg-green focus:outline-none">
                        View Details
                    </a>
                </div>
            </div>
        </div>
    </div>
    {% endfor %}
</div>